If:
  PathMatch: .*\.cu

CompileFlags:
  Remove:
    - -forward-unknown-to-host-compiler
    - --generate-code=*
    - -Xcompiler=*

---

If:
  PathMatch: .*\.cuh

CompileFlags:
  Add:
    - -x
    - cuda
